{% extends 'base.html' %}
{% load static %}
 
{% block title %}Log In{% endblock title %}
 
{% block styles %} <link rel="stylesheet" href="{% static 'assets/sign.css' %}"> {% endblock styles %}
 
{% block content %}
<center>
    <style>
        input {
            padding: 5px;
            border-radius: 5px;
        }
   
   
   
   
   
        label {
            display: flex;
   
            color: white;
        }
   
   
   
        .logcon {
            display: flex;
            background-color: RGB(41, 43, 59);
            width: min-content;
            margin-top: 1vw;
            margin-bottom: 5vw;
            padding: 1rem;
            border-radius: 20px;
            padding-right: 3rem;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 1rem;
        }
    </style>
    <h1 class="headings">Log In</h1>
 
 
<div class="logcon">
                <form method="post">
                    {% csrf_token %}
           
       
                       {{ form.as_p }}                        
           
         
                       <button type="submit" >Login</button></center>
       
                </form>
   
            </div>
 
 
{% endblock content %}
