{% load static %}

<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Team MILITIA</h3>

    <p class="footer-company-name">If you have suggestions,
      then don't hesitate to ping us up!</p>
    <img src="{% static 'img/contact-form.png' %}" height="250px" alt="">

  </div>
  <div class="footer-right">

    <p class="underline--magical">Contact Us</p>

    <h3> <a mailto=""><img src="{% static 'img/gmail.png'%}" height="30rem" alt="" style="margin-top: 0.9rem;"></a>
      <span
        style="position: relative; top:-0.5rem ;font-size:1.2rem ;font-weight: normal;color:grey">militia@gmail.com</span>
    </h3>

    <h3> <a mailto=""><img src="{% static 'img/github.png'%}" height="30rem" alt="" style="margin-top: 0.9rem;"></a>
      <span style="position: relative; top:-0.5rem ;font-size:1.2rem ;font-weight: normal;color:grey">Github</span>
    </h3>
  </div>

</footer>