{% extends 'base.html' %}
{% load static %}

{% block title %}Form{% endblock title %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'assets/form.css' %}"> 
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
{% endblock styles %}

{% block content %}

<center>
  <h1 class="headings">Form</h1>
  <p>Please fill the details accurately.</p>


  <div class="container1">
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-25">
          <label for="location">Location</label>
        </div>
        <div class="col-75">
          <input type="text" id="location" name="location">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="pin_code">Pin Code</label>
        </div>
        <div class="col-75">
          <input type="text" id="pin_code" name="pin_code">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="date">Date</label>
        </div>
        <div class="col-75">
          <input type="date" id="date" name="date">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="title">Title</label>
        </div>
        <div class="col-75">
          <input type="text" id="title" name="title">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="message">About the incident</label>
        </div>
        <div class="col-75">
          <textarea id="message" name="message" style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="file">Proof multimedia</label>
        </div>
        <div class="col-75 file">
          <input id="file" name="file" type="file" >Choose File</input>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
          <strong> {{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
      </div>



    </form>
  </div>
</center>

<script>


  var map; 
  var marker = false; 

  function initMap() {

    var centerOfMap = new google.maps.LatLng(20.593684, 78.96288);


    var options = {
      center: centerOfMap, 
      zoom: 7 
    };


    map = new google.maps.Map(document.getElementById('map'), options);


    google.maps.event.addListener(map, 'click', function (event) {
     
      var clickedLocation = event.latLng;
    
      if (marker === false) {

        marker = new google.maps.Marker({
          position: clickedLocation,
          map: map,
          draggable: true 
        });
        
        google.maps.event.addListener(marker, 'dragend', function (event) {
          markerLocation();
        });
      } else {
       
        marker.setPosition(clickedLocation);
      }
     
      markerLocation();
    });
  }

  function markerLocation() {
    
    var currentLocation = marker.getPosition();

    document.getElementById('lat').value = currentLocation.lat(); //latitude
    document.getElementById('lng').value = currentLocation.lng(); //longitude
  }


  google.maps.event.addDomListener(window, 'load', initMap);</script>

{% endblock content %}
