<header>
  <nav class="main-nav">
    <input type="checkbox" id="check" />
    <label for="check" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <a href="{% url 'home' %}" class="logo">Militia</a>
    <ul class="navlinks">
      {% if user.is_authenticated %}
      <li><a href="{% url 'forms' %}">Form</a></li>
      <li><a href="{% url 'posts' %}">Posts</a></li>
      <li><a href="{% url 'account_logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'account_login' %}">Login</a></li>
      <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
      <li><a href="{% url 'faq' %}">Help Center</a></li>
    </ul>
  </nav>
</header>